form, .form {
	position: fixed;
	top: 10%;
	left: 42%;
}
input, button {
	padding: 20px;
	margin: 20px;
	font-size:20px;
}
input::placeholder {
	font-size: 20px;
}
p {
	position:fixed;
	left: 45%;
	font-size: 20px;
}